html{
    font-family: sans-serif;
    background-color: hsla(352, 60%, 95%, 1.0);
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.appTitle{
    z-index: 900;
    background-color: hsla(352, 77%, 60%, 1.0);
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 3rem;
    box-shadow: 1px 4px 20px hsla(352, 77%, 0%, 0.3);
}

.profileCtn{
    margin: 0 auto;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 90vw;
    overflow: hidden;
}

.imgCtn{
    z-index: 100;
    height: 62vh;
    width: 100%;
}

.pic{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.infoCtn{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: hsla(352, 0%, 60%, 1.0);
    font-size: 1.2rem;
}

p{
    margin: 0;
}

.nameText{
    margin: 1.75rem 0 1.25rem 0;
    color: hsla(352, 77%, 60%, 1.0);
    font-size: 2rem;
    font-weight: 600;
}

.otherInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75vw;
    margin-bottom: 1.25rem;
    /* background-color: aqua; */
}

.footTitle{
    bottom: 0;
    width: 100vw;
    height: 3rem;
    font-size: 1.5rem;
    background-color: hsla(352, 77%, 60%, 1.0);
    box-shadow: 1px -4px 20px hsla(352, 77%, 0%, 0.16);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/********** List Page **********/


.listPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90vh;
    margin-top: 1.5rem;
}

.listCtn{
    margin: 0.5rem auto;
    background-color: white;
    border-radius: 7px;
    width: 90vw;
    display: grid;
    align-items: center;
    grid-template-areas:
        "a b c";
    grid-template-columns: 2fr 7fr 3fr;
    /* justify-content: space-between; */
    align-items: center;
    overflow: hidden;
}

.listPic{
    height: 5rem;
    object-fit: cover;
}

.fullname{
    margin-left: 4vw;
    color: hsla(352, 77%, 60%, 1.0);
    font-weight: 600;
    font-size: 1.25rem;
}

.lastname{
    margin-top: 0.4rem;
}



.hide{
    display: none;
}