html{
    font-family: sans-serif;
    background-color: hsla(352, 60%, 95%, 1.0);
}
body{
    margin: 0;
    height: 90vh;
}

.appTitle{
    z-index: 900;
    background-color: hsla(352, 77%, 60%, 1.0);
    color: white;
    font-size: 1.5rem;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 3rem;
    box-shadow: 1px 4px 20px hsla(352, 77%, 0%, 0.3);
}

.homePage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-x: hidden;
}

.profileCtn{
    opacity: 1;
    margin: 0 auto;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 90vw;
    overflow: hidden;
    transform: translateX(0) scale(1);
    transition: all 0.35s ease-in-out;
}

.profileCtnHideR{
    transform: translateX(100vw) scale(0.7);
    transition: all 0.35s ease-in-out;
}

.profileCtnHideL{
    transform: translateX(-100vw) scale(0.7);
    transition: all 0.35s ease-in-out;
}

.profileCtnSmall{
    opacity: 0.1;
    transform: translateX(0) scale(0.1);
}

.imgCtn{
    z-index: 100;
    height: 62vh;
    width: 100%;
}

.pic{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.infoCtn{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: hsla(352, 0%, 60%, 1.0);
    font-size: 1.2rem;
}

p{
    margin: 0;
}

.nameText{
    margin: 1.75rem 0 1.25rem 0;
    color: hsla(352, 77%, 60%, 1.0);
    font-size: 2rem;
    font-weight: 600;
}

.otherInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75vw;
    margin-bottom: 1.25rem;
    /* background-color: aqua; */
}

.footTitle{
    z-index: 1000;
    bottom: 0;
    width: 100vw;
    height: 3rem;
    font-size: 1.5rem;
    background-color: hsla(352, 77%, 60%, 1.0);
    box-shadow: 1px -4px 20px hsla(352, 77%, 0%, 0.16);
    color: white;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.home{
    color: white;
    transition: all 0.35s ease-out;
}

.saved{
    color: white;
    transition: all 0.35s ease-out;
}

.homeLight{
    color: hsla(352, 77%, 42%, 1.0);
    transition: all 0.35s ease-out;
}

.savedLight{
    color: hsla(352, 77%, 42%, 1.0);
    transition: all 0.35s ease-out;
}

.overlaySave,
.overlayRej{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 200;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: hsla(352, 77%, 0%, 0.6);
    color: white;
    font-size: 3rem;
}

.overlayZero{
    opacity: 0;
    transition: all 0.35s ease-out;
}


/********** List Page **********/


.listPage{
    transform: translateX(0) scale(1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 4.5rem 0;
    transition: all 0.35s ease-out;
}

.listPageHide{
    /* opacity: 0; */
    transform: translateX(100vw) scale(0.7);

}

.listCtn{
    margin: 0.5rem auto;
    background-color: white;
    border-radius: 7px;
    width: 90vw;
    display: grid;
    align-items: center;
    grid-template-areas:
        "a b c";
    grid-template-columns: 2fr 7fr 2fr;
    /* justify-content: space-between; */
    align-items: center;
    overflow: hidden;
}

.listPic{
    height: 5rem;
    object-fit: cover;
}

.fullname{
    margin-left: 6vw;
    color: hsla(352, 77%, 60%, 1.0);
    font-size: 1.25rem;
}

.lastname{
    margin-top: 0.4rem;
}

.deleteBtn{
    font-size: 1.25rem;
    background-color: white;
    color: hsla(352, 0%, 55%, 1.0);
    padding: 0.75rem 0.85rem;
    border-radius: 50px;
    transition: all 0.35s ease-out;
}

.deleteBtnRed{
    background-color: red;
    color: white;
    transform: rotate(360deg);
    transition: all 0.35s ease-out;
}

.deleteBtnCfm{
    margin-left: 0.5rem;
    transform: rotate(360deg) scale(1.15);
    transition: all 0.35s ease-out;
}

.deleteBtnHide{
    transform: rotate(-360deg) scale(0.1);
    transition: all 0.35s ease-in;
}

.hideItem{
    transform: scale(0.1);
    transition: all 0.35s ease-in;
}

.removeItem{
    overflow: hidden;
    width: 5rem;
    border-radius: 50px;
    transition: all 0.35s ease-out;
}

.hide{
    display: none;
}

.remind{
    color:hsla(352, 0%, 55%, 1.0);
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remind p{
    margin-top: 1rem;
}

.remindDisappear{
    display: none;
}